@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --color-primary: #626eef;
  --color-secondary: #a1a7eb;
  --color-medium: #cbceed;
  --color-light: #e9eaf3;
  --color-extra-light: #fbfbfb;
  --color-dark: #4c5071;
  --color-gray-medium: #9293a6;
  --color-text-light: #c3c4cc;
  --color-text-extra-light: #e6e6e9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 295px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar container'
    'sidebar container';
}

.header {
  width: 100%;
  grid-area: header;
  border: '1px solid red';
}

.header-menu__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.header-menu__container li {
  margin-left: 10px;
}

.sidebar {
  grid-area: sidebar;
  border: '1px solid red';
}

.container {
  grid-area: container;
  border: '1px solid red';
}
