@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --color-primary: #626eef;
  --color-secondary: #a1a7eb;
  --color-medium: #cbceed;
  --color-light: #e9eaf3;
  --color-extra-light: #fbfbfb;
  --color-dark: #4c5071;
  --color-gray-medium: #9293a6;
  --color-text-light: #c3c4cc;
  --color-text-extra-light: #e6e6e9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--color-dark);
}

/*General*/
.label {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: bold;
}
.button {
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: capitalize;
}
.button-primary-contained {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: white;
}
.button-secondary-outline {
  border: 1px solid var(--color-primary);
  color: var(--color-gray-medium);
  background-color: white;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 295px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar container'
    'sidebar container';
}

.menu-movil,
.header-movil,
.hv-menu-title {
  display: none;
}

.header {
  width: 100%;
  grid-area: header;
  border: '1px solid red';
}

.header-menu__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.header_menu__item {
  font-size: 14px;
  font-weight: bold;
  margin-right: 40px;
  border-bottom: 3px solid transparent;
}

.header_menu__item:hover {
  border-bottom: 3px solid var(--color-primary);
  cursor: pointer;
}

.header_menu__item a {
  text-decoration: none;
  color: var(--color-dark);
}

.header-menu__item-active {
  border-bottom: 3px solid var(--color-primary);
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -2px 1px 10px 0px var(--color-light);
}
.sidebar-imageProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-imageProfile__container {
  width: 120px;
  height: 120px;
}
.sidebar-imageProfile__container img {
  max-width: 100%;
  object-fit: cover;
  border: 1px solid var(--color-light);
  border-radius: 50%;
}

.sidebar-imageProfile span {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-text-light);
}

.sidebar-imageProfile p {
  font-size: 14px;
}

.sidebar-info__detail p {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: lighter;
}

.container {
  grid-area: container;
  padding: 30px 50px;
}

@media screen and (max-width: 767px) {
  .main {
    width: 100%;
    min-height: 100vh;
    display: block;
  }
  .sidebar {
    display: none;
  }
  .header {
    display: none;
  }
  .menu-movil {
    border-bottom: 1px solid var(--color-text-light);
    box-shadow: -2px 1px 10px 0px var(--color-light);
  }
  .header-movil {
    display: flex;
    justify-content: space-between;
  }

  .sidebar-movil {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid var(--color-light);
  }
  .sidebar-imageProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sidebar-imageProfile__container {
    width: 80px;
    height: 80px;
  }
  .sidebar-imageProfile span {
    font-size: 10px;
  }

  .sidebar-imageProfile p {
    font-size: 10px;
  }

  .sidebar-info {
    padding-left: 20px;
  }

  .sidebar-info__detail p {
    margin-bottom: 10px;
    font-size: 10px;
  }
  .hv-menu-title {
    padding: 20px 0px 0px;
  }
  .hv-menu-title__detail {
    padding: 0px;
    margin: 0px;
    margin: 0 auto;
    width: max-content;
    border-bottom: 3px solid var(--color-primary);
  }
  .label {
    font-size: 12px;
  }
  .header-menu__container {
    margin-top: 0;
    padding-left: 0px;
    flex-direction: column;
    align-items: flex-start;
  }
  .header_menu__item {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-light);
    box-sizing: border-box;
  }
  .sidebar-action {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding-bottom: 30px;
  }
  .sidebar-action button {
    margin: 0 auto;
  }
}

/*RESPONSIVE*/
.header-movil {
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-text-light);
  box-shadow: -2px 1px 10px 0px var(--color-light);
  align-items: center;
}

.hv_container_image {
  width: 40px;
  height: 40px;
}

.hv_container_image img {
  border: 1px solid var(--color-text-light);
  border-radius: 50%;
  max-width: 100%;
}

.hv_button_menu {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
